/* Text */
$text: #040309;
$greyText: #444;
$background: #fcfcfd;
$primary: #6C06f1; // #605bff
$secondary: #f17cc9;
$accent: #ec4b8a; // #8f2de2

/* Additionals */
$success: #02d550;
$success_dark: #0ad262;
$error: #f20a0d; // dark mode