@import "../../../variables";

.aboutWidgets {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 0 0 0;

    .techStack {
        width: 100%;
        transition: width 0.5s ease;
        
        h2 {
            color: $text;
            margin-top: 0;
            font-size: 25px;
            margin-bottom: 0.5em;

            span {
                background: linear-gradient(to right, $primary, $accent);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }

        .stackCard {
            gap: 1em;
            display: flex;
            padding: 30px 10px;
            overflow: hidden;
            border-radius: 10px;
            flex-direction: column;
            box-sizing: border-box;
            background-color: lighten($greyText, 40%);

            .stackScroller {
                display: flex;
                flex-direction: row;
                white-space: nowrap;
                align-items: center;
                animation: scroll 30s linear infinite;

                &.right {
                    animation-direction: reverse;
                }

                @media (max-width: 1260px) {
                    animation: scroll 20s linear infinite;
                }
    
                @media (max-width: 600px) {
                    animation: scroll 10s linear infinite;
                }

                @keyframes scroll {
                    0% {
                        transform: translateX(0);
                    }
                    100% {
                        transform: translateX(-50%);
                    }
                }

                i {
                    font-size: 25px;
                    color: $primary;
                }
    
                .techItem {
                    flex: none;
                    margin: 0 5px;
                    color: $background;
                    border-radius: 5px;
                    padding: 10px 20px;
                    background-color: darken($greyText, 15%);
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}